<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>fart</title>
  </head>
  <body>
    <h1>Project Athena</h1>
    <form action="/" method="get">
      <label for="team_name">Company: </label>
      <input id="team_name" type="text" name="cname" placeholder="Asana">
      <input type="submit" value="OK">
  </form>
    <h3> <%= email %>@<%= domain %></h3>
    <ul>
      <% for(var i=0; i<first.length; i++) { %>
        <li>
          <%= first[i]%>, <%= last[i]%> &nbsp; &nbsp; &nbsp; <%= rEmails[i]%>
        </li>
    <% } %>
    </ul>
  </body>
</html>