<% include ./partials/head %>

<div class="row align-center">
  <div class="col col-6">

    <div class="row align-center">
      <h2>Project Athena</h2>
    </div>

    <form class="form" action="/" method="get">
      <div class="form-item">
          <!-- <label>Company</label> -->
          <div class="append w200">
              <input id="team_name" class="search" type="text" name="cname" placeholder="Search Company">
              <button type="submit" class="button outline">Go</button>
          </div>
      </div>


    </form>
      <!-- <h3><%= email %>@<%= domain %></h3> -->
      <table class="striped bordered" >
        <thead>
          <th>Name</th>
          <th>Last</th>
          <th>Email</th>
        </thead>
        <% for(var i=0; i<first.length; i++) { %>
          <tr>
            <td><%= first[i]%></td>
            <td><%= last[i]%></td>
            <td>
              <%= rEmails[i]%>
            </td>
          </tr>
          <% } %>
      </table>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/js/kube.min.js"></script>
  </body>

  </html>